<% provide(:title, "Help") %>
<div class="center jumbotron">
<h1>Master Quiz Help</h1>
<p>
  <h3>How to create an account?</h3>
  <h5>Visit this link: <a href="/signup">Sign up</a></h5>
  <h3>How do I sign in?</h3>
  <h5>Visit this link: <a href="/login">Sign in</a></h5>
</p>
</div>