<div class="principal-display">
  <div class="description">
    <h1> Welcome to <span style="color: #00b0dd">Quiz Master!</span></h1>
    <h4> How good is your general knowledge?</h4>
  </div>
</div>
<div class="input-display">
  <%= link_to 'Start Quiz!', quiz_path, class: "btn btn-primary", id: "start-quiz" %>
</div>
