<footer class="footer navbar navbar-fixed-bottom">
<div class="container">
    <small>
    Quiz Master <%= fa_icon "bicycle" %>
    by Mario Lugo
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</div>
  
</footer>